{{> header }}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Profile
                <small>Profile</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">profile</li>
            </ol>
            {{#if messages.success }}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="icon fa fa-check"></i>{{ messages.success }}
                </div>

            {{/if}}
            {{#if messages.error }}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="icon fa fa-close"></i> {{ messages.error }}
                </div>
            {{/if}}
        </section>
                <!-- Main content $2a$10$cgARZ.TI12/UckYbtn5mVeJRFAfYeZqLZ1Wh.Ktri6daxzDI.hYEq -->
        <section class="content">
            <form action="/changePassword" method="post" class="form-horizontal1">
                <div class="form-group row">
                <label for="inputName" class="col-sm-4 col-form-label">Old Password</label>
                <div class="col-sm-10">
                    <input type="text" required value="" name="old_password" class="form-control" id="inputName" placeholder="Old Password">
                </div>
                </div>
                <div class="form-group row">
                <label for="inputName" class="col-sm-4 col-form-label">New Password</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="New Password" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="pwd1" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');if(this.checkValidity()) form.pwd2.pattern = RegExp.escape(this.value);">
                </div>
                </div>
                <div class="form-group row">
                <label for="inputName" class="col-sm-4 col-form-label">Conform Password</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Conform Password" title="Please enter the same Password as above" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="pwd2" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');">
                </div>
                </div>
                
                <div class="form-group row">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
                </div>
            </form>
        </section>
        <!-- /.content -->
    </div>

<!-- /.modal -->
<script type="application/javascript">
    function editUser(argument) {
        $.ajax({
            url: "/sysadmin/ajaxEditUser",
            data : { categoryId : argument },
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function(response) {
                $("#editcategory").val(response._id);
                $("#editprojectname").val(response.name);
                $("#editdescriptions").val(response.descriptions);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                $("#editcategory").val("");
                $("#editprojectname").val("");
                $("#editdescriptions").val("");
            }
        });
    }

    function DeleteCategory(argument,argument2){
        jQuery("#jinalamuumini").html(argument);
        jQuery("#nameyaMuumini").html(argument);
        jQuery("#muuminiId").val(argument2);
    }
</script>
{{> footer }}